#!/bin/bash
#Petit script pour configurer les secrets utilisés pour le système d'alarmes via Telegram'
#zf200501.1742

#utils: générateur de password, https://www.pwdgen.org/
#doc: https://docs.google.com/document/d/11JITUwK1ZX5A7dJ1GbhYlZk0-kKJPM1BUL9qpyYDjfs/edit# 

# UTILISATION:

## Sur sa machine:
### Il faut faire: 
#source /keybase/private/zuzu59/secrets_alarm_telegram_zf.sh

# TEST:
export alarm_telegram_zf_message='zuzu_alert_1706!'

#curl -s --data chat_id=$alarm_telegram_zf_dest --data-urlencode text="$alarm_telegram_zf_message" "https://api.telegram.org/bot$alarm_telegram_zf_token/sendMessage" > /dev/null


export alarm_telegram_zf_bot="xxx"
export alarm_telegram_zf_bot_user="xxx"
export alarm_telegram_zf_token="xxx"
export alarm_telegram_zf_dest="xxx"


echo -e "

Les secrets sont:
"

for i in $(env |grep alarm_telegram_zf)
do
    echo " export "$i
done

echo -e "\n"

